@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #12ac8e;
  --primary-color-dark: #0d846c;
  --primary-color-light: #e9f7f7;
  --secondary-color: #fb923c;
  --text-dark: #333333;
  --text-light: #767268;
  --white: #ffffff;
  --max-width: 1200px;
  
}

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } */
  
  .section__container__1 {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
   
    
  }


  /* .btn {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
  }
   */
  /* img {
    width: 100%;
    display: flex;
  } */
  
  /* a {
    text-decoration: none;
  } */
  
  body {
    font-family: "Poppins", sans-serif;
  }


  /* Header Container */
  header {
    background-image: linear-gradient(
        to right,
        rgba(18, 172, 142, 0.9),
        rgba(18, 172, 142, 0.7)
      ),
      url("./assets/health-homepage.jpg");
    background-position: center ;
    background-size:cover;
    background-repeat: no-repeat;
  }
  /* .nav__container {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
  
  .nav__logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
  }
  
  .nav__logo span {
    color: var(--secondary-color);
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .link a {
    padding: 0.5rem;
    color: var(--primary-color-light);
  }
  
  .link a:hover {
    color: var(--white);
  } */

  .header__container h1 {
    margin-bottom: 1rem;
    max-width: 900px;
    font-size: 2.5rem;
    line-height: 4rem;
    color: var(--white);
  }

  .header__container p {

    max-width: 600px;
    color: var(--primary-color-light);
  }
  /*body part  */


  /* .row{
    margin-right: 15px;
    margin-left: 15px;

    
  }
  .text-center{
    text-align:start;
    font-size: 20px;
  } */
  /* service */

  .section__container__2 {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
   
  }

  .service__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;

  }
  /* .service_plan{
   margin: auto;
   margin-top: 30px;
    font-size: 25;
    font-weight: 600;
  } */
  .service_plan h1 {
    text-align: center;
    font-weight: bold;
    color: var(--text-dark);
    margin-top: 30px;
    
  }
  .service__card {
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  
  .service__card span {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 10px 20px;
    font-size: 2.5rem;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    border-radius: 100%;
    transition: 0.3s;
  }
  
  .service__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .service__card p {
    margin-bottom: 1rem;
    color: var(--text-light);
  }
  
  .service__card a {
    color: var(--primary-color);
  }
  
  .service__card a:hover {
    color: var(--primary-color-dark);
  }
  
  .service__card:hover span {
    color: var(--primary-color-light);
    background-color: var(--primary-color);
  }

/*  flip_cards*/
/* .section__container_3{
  max-width: var(--max-width);
  margin: auto;
  height: 400px;
}

.eligiblity_coverage {
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 20px;
}

.columnwise {
  float:inline-end;
  width: 33.33%;
  padding: 25px;
  height: 375px; 
  
}

.columnwise img {
    border-radius: 3%;
}

.columnwise h3  {
  margin-top: 20px;
    text-align: center;
}

.columnwise p
{
  margin-top: 10px;
  text-align: justify;

} */
.section__container_3 {
  max-width: var(--max-width);
  margin: auto;
  padding: 20px 10px;
  background-color: #f4f5f7;

}

.eligiblity_coverage h1 {
  text-align: right;
  font-size: 40px;
  margin-top: 20px;
}
.eligiblity_coverage p {
text-align: center  ;
  font-size: 20px;
}


.columnwise {
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
}

.columnwise img {
  display: block;
  width: 100%;
  border-radius: 3%;
}

.columnwise h3 {
  margin-top: 20px;
  text-align: center;
}

.columnwise p {
  margin-top: 10px;
  text-align: flex;
}

@media screen and (min-width: 768px) {
  .section__container_3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .columnwise {
    width: calc(33.33% - 20px);
  }
}

@media screen and (max-width: 1200px) {
  .columnwise {
    margin-bottom: 20px;
  }
}


/* Table------------------------------------------- */


.eligibility-section {

  margin:auto;
  max-width: 1200px;
  
}

.eligibility-section-heading {
  font-size: 40px;
  text-shadow: #fb923c;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.key-features-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #000;
}

.key-features-table th, .key-features-table td {
  padding: 8px;
  border: 1px solid #000;
}

.detail-header, .criteria-header {
  background-color: #959799;
  font-size: 25px;
}

.detail {
  font-weight: bold;
}
.criteria{
  font-weight: normal;
}

.key-features-table .detail {
  min-width: 200px;
}

.key-features-table .criteria {
  text-align: left;
}


/* *******Demo policies************ */

.section__container_4{
  max-width: 1200px;
  margin: auto;
 padding-bottom: 20px;
 padding-top: 40px;
}
.demo-policy h4
{
  font-size: 50px;
  font-weight: 800;
  margin-top: auto;
  margin-bottom: 20px;
  text-align: center;

}

.flipcard-container {
  display: flex;
  gap: 30px;
  
}

.flipcard {
  width: 400px;
  height: 260px;
  perspective: 1000px;
  
}

.flipcard__side {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition: transform 0.5s ease;
}

.flipcard__front {
  background-color: #fff;
}

.flipcard__back {
  background-color: #f0f0f0;
  transform: rotateY(180deg);
}

.flipcard:hover .flipcard__front {
  transform: rotateY(-180deg);
}

.flipcard:hover .flipcard__back {
  transform: rotateY(0deg);
}

.flipcard__text
{
  list-style-type: circle;
}

.flipcard__img{
  display:flex 50%;
  align-items: center;
}





.view-more {
  margin-top: 40px;
  padding: center;
}
.discount
{
  background-color: skyblue;
}

.view-more__btn {
  padding: 10px 20px;
  background-color: #b1cff0;
  color: #232222;
  text-decoration: none;
    outline: rgb(154, 151, 151) solid;
    border-radius: 8px;
    cursor: pointer;
 
}

.view-more__btn:hover {
  background-color: #f36868;
  
} 
